* {
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
}

body {
    margin: 40px;
}

body.dark {
    background-color: #27292d;
    color: rgb(226, 224, 224);
}

.container {
    border: 1px solid blue;
    padding-left: 30px;
    margin-top: 10px;
    background-color: white;
    color: black;
}

.container h4 {
    font-size: 1.5rem;
}

.container.dark {
    background-color: #27292d;
    color: rgb(226, 224, 224);
}